:root {
    --font-family: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
}

ul,li,a {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

button {
    border: none;
}